<template>
  <div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
    <div class="box">这是zbs代码的内容</div>
  </div>
</template>

<script setup>
</script>

<style lang="scss" scoped>
</style>